/* --- NAVBAR: make it tight but allow a large logo --- */

/* Remove padding from the navbar container */
.navbar .container,
.navbar .container-fluid {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Tighten the navbar itself */
.navbar {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  min-height: 0 !important;
}

/* Remove vertical padding around the brand */
.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 1 !important;
}

/* Make the logo bigger */
.navbar-brand img {
  height: 64px !important;     /* change to taste */
  max-height: none !important;
  width: auto !important;
}
