/* Beautiful Jekyll / Bootstrap button overrides */

/* Primary button */
.btn-primary,
a.btn-primary {
  background-color: #0b3c5d;
  border-color: #0b3c5d;
  color: #123524;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:active {
  background-color: #092f49;
  border-color: #092f49;
  color: #123524;
}

/* Outline primary button (if you use it) */
.btn-outline-primary,
a.btn-outline-primary {
  color: #0b3c5d;
  border-color: #0b3c5d;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
a.btn-outline-primary:hover,
a.btn-outline-primary:focus {
  background-color: #0b3c5d;
  border-color: #0b3c5d;
  color: #123524;
}
